body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.body_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.header {
    flex-basis: 1300px;
    margin: 0 20px;
}


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header_logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.header_list {
    display: flex;
    gap: 30px;
}

.header_info {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

.header_info_container {
    max-width: 400px;
}

.header_info_text_heading {
    font-size: 48px;
    font-weight: 900;
    margin:0;
}

.header_info_container_text {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.sign_up {
    background-color: #3882f6;
    color: #f9faf8; 
    padding: 10px 30px;
    border-radius: 8px;
    border:0;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.header_info_image img {
    max-height: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

.images_wrapper {
    background-color: #f9faf8;
    width: 100%;
}

.images {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    padding: 0 30px;
    padding-bottom: 100px;
}

.images_heading {
    text-align: center;
}

.images_heading_heading {
    margin: 50px 0;
    font-size: 36px;
    font-weight: bold;
}

.images_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.images_container_card {
    width: 200px;
    text-align: center;
    align-items: center;
}

.image_img {
    height: 200px;
}

.image_img.first {
    background-image: url('./images/waves-3473335_1920.jpg');
    background-size: cover;
}

.image_img.second {
    background-image: url('./images/shellfish-3062011_1920.jpg');
    background-size: cover;
}

.image_img.third {
    background-image: url('./images/beach-2562563_1920.jpg');
    background-size: cover;
}

.image_img.fourth {
    background-image: url('./images/ocean-2051760_1920.jpg');
    background-size: cover;
}

.main {
    width: 100%;
}

.main_wrapper {
    background-color: #e5e7eb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.main_container {
    max-width: 1000px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.main_container_text {
    margin: 0;
    padding: 0 60px;
}

.main_container_quote {
    text-align: right;
    margin: 10px;
    padding-right: 60px;
}

.sign_up_wrapper {
    background-color: #f9faf8;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign_up_container {
    background-color: #3882f6;
    width: 70%;
    border-radius: 8px;
    margin: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    flex-wrap: wrap;
    gap: 20px;
}

.sign_up_container_heading {
    margin: 0;
}

.sign_up_container_text_text {
    margin: 0;
    flex-grow: 1;
}


.sign_up.sign_up_footer {
    border: 1px solid white;
    flex-grow: 1;
}

.footer_text {
    color:#e5e7eb;
}

